body {
  background-color: hsla(220, 86%, 95%, 1);
}

.container {
  min-width: 100%;
  padding: 0;
  margin: 0;
}

/* DISPLAY */

.calculator-display {
  display: flex;
  height: 200px;
  margin: 0;
}

.calculator-display-display {
  background-color: #fff;
  max-width: 500px;
  flex: 2 600px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  text-align: right;
  font-size: 1.3em;
}

.calculator-display-input {
  overflow: auto;
  padding: 0 1em;
  margin-bottom: 1.5em;
}
.calculator-display-result {
  padding: 0 1em;
  margin-bottom: 1em;
}

/* KEYPAD */

.calculator-keypad {
  display: flex;
}

.calculator-keypad-keypad {
  background-color: #fff;
  max-width: 500px;
  flex: 2 600px;
}

/* MEDIA QUERIES */

@media (min-width: 600px) {
  .calculator-keypad-pan {
    flex: 1 auto;
  }
}

@media (min-width: 600px) {
  .calculator-display-pan {
    flex: 1 auto;
  }
}
