body {
  background-color: hsla(220, 86%, 95%, 1);
  color: hsla(220, 86%, 20%, 1);
}

.container {
  min-width: 100%;
  padding: 0;
}

.padding {
  padding: 0 20px;
}

/*==============================================*/
/* DISPLAY
/*==============================================*/

.calculator-display {
  background-color: #fff;
  height: 200px; max-width: 500px;
  margin: 0 auto;
  text-align: right;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.calculator-display-input {
  overflow: auto;
  margin-bottom: 1.2em;
  font-size: 2em;
}

.calculator-display-result {
  color: #aaa;
  margin-bottom: .8em;
  font-size: 1em;
}

.operator {
  color: hsla(220, 90%, 70%, 1);
}

.size-large {
  font-size: 1.2em;
}

.size-medium {
  font-size: 1em;
}

.size-small {
  font-size: 0.8em;
}

/*==============================================*/
/* KEYPAD
/*==============================================*/

.calculator-keypad-additional {
  background-color: #fff;
  color: hsla(220, 26%, 70%, 1);
  max-width: 500px;
  margin: 0 auto;
  display: flex;
  justify-content: flex-end;
  transition: color .2s;
}

.calculator-keypad-additional:hover {
  color: hsla(220, 26%, 50%, 1);
}

.calculator-keypad-additional:active {
  color: hsla(220, 26%, 20%, 1);
}

.calculator-keypad-delete {
  min-width: 35px; min-height: 42px;
  line-height: 42px;
  font-size: 1em;
  text-align: center;
  cursor: pointer;
}

.calculator-keypad-main {
  max-width: 500px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.calculator-keypad-key {
  min-width: 35px; min-height: 32px;
  line-height: 32px;
  font-size: 1.2em;
  text-align: center;
  cursor: pointer;
  transition: background-color .2s;
}

.calculator-keypad-key:hover {
  background-color: hsla(220, 100%, 88%, 1);
}

.calculator-keypad-key:active {
  background-color: hsla(220, 100%, 84%, 1);
}

/*==============================================*/
/* MESSAGE
/*==============================================*/

.message {
  color: #fff;
  background-color: hsla(0, 0%, 0%, 0.5);
  max-width: 500px;
  margin: 0 auto;
  border-radius: 10px;
  text-align: center;
  opacity: 0;
  transition: opacity .5s;
}

/*==============================================*/
/* HELPER CLASSES
/*==============================================*/

.visible {
  opacity: 1;
}

.unselectable {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

/*==============================================*/
/* MEDIA QUERIES
/*==============================================*/

@media (min-width: 175px) {
  .calculator-keypad-key {
    min-width: 43px; min-height: 40px;
    line-height: 40px;
    font-size: 1.2em;
  }
}

@media (min-width: 212px) {
  .calculator-keypad-key {
    min-width: 53px; min-height: 50px;
    line-height: 50px;
    font-size: 1.4em;
  }
}

@media (min-width: 260px) {
  .calculator-keypad-delete {
    min-width: 45px; min-height: 52px;
    line-height: 52px;
    font-size: 1.2em;
  }
  .calculator-keypad-key {
    min-width: 65px; min-height: 55px;
    line-height: 55px;
    font-size: 1.6em;
  }
  .padding {
    padding: 0 25px;
  }
}

@media (min-width: 320px) {
  .calculator-keypad-delete {
    min-width: 50px; min-height: 60px;
    line-height: 60px;
    font-size: 1.5em;
  }
  .calculator-keypad-key {
    min-width: 80px; min-height: 70px;
    line-height: 70px;
    font-size: 1.8em;
  }
  .calculator-display-input {
    font-size: 2.5em;
  }
  .calculator-display-result {
    font-size: 1.5em;
  }
  .padding {
    padding: 0 40px;
  }
}

@media (min-width: 400px) {
  .calculator-keypad-delete {
    min-width: 50px; min-height: 60px;
    line-height: 60px;
    font-size: 1.6em;
  }
  .calculator-keypad-key {
    min-width: 100px; min-height: 90px;
    line-height: 90px;
    font-size: 2em;
  }
  .padding {
    padding: 0 50px;
  }
}

@media (min-width: 500px) {
  .calculator-keypad-delete {
    min-width: 50px; min-height: 60px;
    line-height: 60px;
    font-size: 1.7em;
  }
  .calculator-keypad-key {
    min-width: 125px; min-height: 110px;
    line-height: 110px;
    font-size: 2.2em;
  }
  .padding {
    padding: 0 53px;
  }
}
